.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 80vh;
  font-family: 'Roboto', sans-serif;
}

h1 {
  /* margin: 3.3rem 0; */
  font-size: 3em;
}

h2 {
  font-weight: 500;
  font-size: 2em;
  font-weight: 900;
}

h3 {
  font-weight: 400;
  width: 40vw;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  justify-self: center;
}

.column {
  justify-self: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(128, 128, 128, .025);
  width: 100vw;
  height: 100vh;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {


    display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {


    display: none;
}

/* Header */
.header {
  border-radius: 7px;
  box-shadow: 0 1px 2px 0 rgba(11, 11, 11, 0.1);
  display: grid;
}

.subtitle {
  justify-self: center;
  margin-top: -2.35em;
  font-family: 'Roboto', sans-serif;

}

/* Video Styles*/
video.large {
  width: 40vw;
  height: 40vh;
}

video.small {
  width: 32vw;
  justify-self: center;
  height: 40vh;
}

/* Developer Content */
.content .developer {
  display: grid;
  margin: 5em 0 5em;
  width: 46vw;
  height: 65vh;
  border-radius: 7px;
  box-shadow: 0 3px 3px 0 rgba(11, 11, 11, 0.1);
  justify-self: center;
  transition-timing-function: ease-in-out;
  transition-duration: .35s;
  padding: 2em 2em;
  background-color: rgb(255, 255, 255);
}

.content .developer:hover {
  box-shadow: 0 3px 3px 3px rgba(11, 11, 11, 0.2);
  width: 47vw;
}

/* Designer Content */
.content .designer {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 1fr;
}

.ux-column {
  margin: 0em 0 5em;
  padding: 3em 0;
  width: 40vw;
  /* height: 100vh; */
  justify-self: center;
  transition-timing-function: ease-in-out;
  transition-duration: .4s;
  /* display: grid; */
  background-color: rgb(255, 255, 255);
}

.ux-column:hover {
  border-radius: 3px;
  box-shadow: 0 3px 3px 3px rgba(11, 11, 11, 0.1);
}

.descrip {
  display: grid;
}

.descrip h3 {
  width: 25vw;
}